<!DOCTYPE html>
<html lang="en">
<title>Centro de recursos para el Aprendizaje</title>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body style=" position:'absolute'; height:1001px; width: 100%; background: url('../../../assets/fondo.jpeg') ;" >

  <p style="font-family: 'Courier New', Courier, monospace; color: black; font-size: 50px; text-align: center; margin-top: 50px;">Centro de recursos para el Aprendizaje</p>


  <div style="text-align: center; margin-top: 40px;"  >
    <img src="../../../assets/icono.png" >
  </div>


  <p style="font-family: 'Courier New', Courier, monospace; color: black; font-size: 40px; text-align: center;">Contamos con la mejor información y los



    mejores colaboradores con toda la



   información verificada</p>
</body>
</html>

